{{ define "main" }}
  <div class="category-page">
    <h1>{{ .Title }}</h1>
    {{ if or (eq .Section "fluffyroom") (eq .Section "kotuni") }}
      {{ $section := .Section }}
      {{ if (fileExists (printf "content/%s/images" $section)) }}
        <div class="gallery" id="gallery-{{ $section }}">
          {{ range (readDir (printf "content/%s/images" $section)) }}
            {{ $imgURL := printf "/%s/images/%s" $section .Name }}
            <a class="gallery-item" 
               href="{{ $imgURL }}"
               data-src="{{ $imgURL }}"
               data-sub-html="<h4>{{ .Name }}</h4>">
              <img src="{{ $imgURL }}" 
                   alt="{{ .Name }}"
                   loading="lazy">
            </a>
          {{ end }}
        </div>
      {{ else }}
        <p>Brak zdjęć w tej galerii</p>
      {{ end }}
    {{ else }}
      <div class="regular-list">
        {{ range .Pages }}
          <div class="list-item">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
{{ end }}